<h1 mat-dialog-title>Add New Dashboard</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" required maxlength="30">
      <mat-error *ngIf="form.controls.id.hasError('required')">ID is required</mat-error>
      <mat-error *ngIf="form.controls.id.hasError('maxlength')">ID cannot be more than 30 characters</mat-error>
      <mat-error *ngIf="form.controls.id.hasError('unique')">ID must be unique</mat-error>
      <mat-error *ngIf="form.controls.id.hasError('unknownError')">An unknown error occurred</mat-error>
      <mat-error *ngIf="form.controls.id.pending">Checking uniqueness...</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required maxlength="50">
      <mat-error *ngIf="form.controls.title.hasError('required')">Title is required</mat-error>
      <mat-error *ngIf="form.controls.title.hasError('maxlength')">Title cannot be more than 50 characters</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Icon</mat-label>
      <input matInput formControlName="icon" required>
      <mat-error *ngIf="form.controls.icon.hasError('required')">Icon is required</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="!form.valid || form.pending" (click)="onSave()">Save</button>
</div>